<h1>All Teams</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>points</th>
      <th>goal difference</th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.team_name %></td>
        <td><%= team.points %></td>
        <td><%= team.goal_diff %></td>
        <td><%= link_to "Show", league_team_path(@league,team)%></td>
      </tr>
    <% end %>
  </tbody>
</table>