

<div class="jumbotron">
  <h1 class="display-4"><%= @team.team_name %></h1>
  <p class="lead">Total points: <%= @team.points%></p>
  <hr class="my-4">
  <p>Total goal_diff: <%= @team.goal_diff %></p>
</div>