<div class="jumbotron">
  <h1 class="display-4"><%= @league.league_name %></h1>
  <p class="lead"><%= @league.country_name %></p>
  <hr class="my-4">
  <p>The type of this event is : <%= @league.league_type %></p>
</div>